h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    margin: 0;
}

img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.title {
    color:#0D0D0D;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%;
}

.subtitle {
    color:#0D0D0D;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110.023%;
    text-transform: uppercase;
}

.content {
    color:#0D0D0D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

::-webkit-input-placeholder {
    min-height: 22px;
    color:rgba(13, 13, 13, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
:-moz-placeholder { 
    min-height: 22px;
    color:rgba(13, 13, 13, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
::-moz-placeholder { 
    min-height: 22px;
    color:rgba(13, 13, 13, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
:-ms-input-placeholder { 
    min-height: 22px;
    color:rgba(13, 13, 13, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 400;
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0 245px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    background: #E6E9EC;

    &__top {
        padding: 15px 0;
        display: flex;
    }
    
    &__nav {
        padding: 11px 0;
        display: flex;
        gap: 34px;
        align-items: center;
        max-width: 1082px;

        &-item {
            & a {
                font-size: 14px;
                line-height: normal;
                color:rgba(13, 13, 13, 0.60);
            }
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: auto;

        &-button {
            background-color: #FFB21C;
            padding: 8px 20px;
            max-width: 154px;
            box-sizing: border-box;
            border-radius: 37px;
            border: none;
            cursor: pointer;
        }
    }

    &__bottom {
        display: flex;
        padding: 15px 0;
        gap: 43px;
    }

    &__city {
        display: flex;
        gap: 10px;
        padding: 8px 20px;
        border-radius: 37px;
        background:#FFF;
        max-width: 116px;
        box-sizing: border-box;
        cursor: pointer;
        align-items: center;
    }

    &__logo {
        max-width: 133px;
        width: 100%;
    }

    & input {
        padding: 8px 15px;
        border-radius: 7px 0 0 7px;
        min-height: 38px;
        box-sizing: border-box;
        width: 100%;
        border: none;
        backdrop-filter: blur(7px);

        &:focus {
            outline: none;
        }
    }

    & form {
        width: 100%;
        max-width: 857px;
        display: flex;
    }

    &__search {
        width: 100%;
        display: flex;

        &-button {
            display: flex;
            padding: 8px 17px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 0px 7px 7px 0px;
            background:#2C2F31;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
        }
    }

    &__messengers {
        display: flex;
        gap: 15px;

        &-block {
            border-radius: 500px;
            background:#FFF;
            display: flex;
            width: 37px;
            height: 37px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-sizing: border-box;
        }
    }

    &__adap {
        align-items: center;
        justify-content: space-between;
        display: none;
        padding: 15px 0;
    }
}

.footer {
    flex: 0 0 auto;
    background:#2C2F31;

    &__top {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-sms {
            display: flex;
            max-width: 152px;
            padding: 8px 18px;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            border-radius: 37px;
            border: 1px solid rgba(255, 178, 28, 0.60);
        }
    }

    &__middle {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-time {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        &-contact {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__menu {
        max-width: 773px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & li {
            margin-left: 30px;
            display: flex;
        }

        & li:first-child {
            margin-left: 0;
            margin-bottom: 20px;
        }

        & li:nth-child(9) {
            margin-left: 0;
        }

        &-item a {
            color:#FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 20px 0;

        &-item a {
            color: rgba(255, 255, 255, 0.30);
            font-size: 14px;
            font-style: normal;
            line-height: normal;

            &:first-child {
                color: rgba(255, 255, 255, 0.50);
            }
        }
    }
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
    background: #E6E9EC;
}

.tours {
    &__row {
        flex-direction: row;
        padding: 25px 0 120px 0;
        justify-content: space-between;
    }

    &__background {
        border-radius: 70px 12px 12px 12px;
        background:#FFB21C;
        position: relative;
    }

    &__content {
        display: flex;
        flex-direction: column;
        border-radius: 70px 12px 147px 12px;
        background:#2C2F31;
        padding: 54px 60px;
        box-sizing: border-box;
        gap: 40px;

        &-title {
            color: #FFF;
            text-transform: uppercase;
            font-size: 54px;
        }

        &-city {
            display: flex;
            max-width: 464px;
            flex-wrap: wrap;
            gap: 10px;
        }

        &-button {
            display: flex;
            justify-content: space-between;
            padding: 7px 20px;
            box-sizing: border-box;
            border-radius: 37px;
            border: 1px solid rgba(255, 178, 28, 0.60);
            width: 227px;
            background-color: transparent;
            align-items: center;

            & span:first-child {
                color: #FFF;
            }

            & span:last-child {
                color: rgba(255, 255, 255, 0.50);
            }
        }

        &-more {
            display: flex;
            justify-content: space-between;
            padding: 8px 20px;
            box-sizing: border-box;
            border-radius: 37px;
            width: 227px;
            background-color: #FFF;
        }

        &-moreAdap {
            display: none;
            padding: 5px 15px;
            border-radius: 37px;
            box-sizing: border-box;
            background-color: #FFF;
            gap: 5px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & span {
                color: #FFF;
                line-height: 130%;
                min-height: 22px;

                & span {
                    font-weight: 700;
                }
            }
        }
    }

    &__icon {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    &__banner {
        position: relative;

        & img {
            border-radius: 12px 12px 70px 12px;
            height: 100%;
            width: 100%;
        }

        &-info {
            position: absolute;
            left: 30px;
            bottom: 30px;
            border-radius: 7px;
            background: rgba(255, 255, 255, 0.70);
            backdrop-filter: blur(20px);
            display: flex;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 17px 18px;
            border-radius: 7px 0px 0px 7px;
            background:#FFB21C;
            box-sizing: border-box;

            & a {
                height: 21px;
            }
        }

        &-date {
            display: flex;
            flex-direction: column;
            padding: 8px 15px;

            & span:first-child {
                color: rgba(13, 13, 13, 0.60);
                font-size: 14px;
                line-height: normal;
            }
        }
    }
}

.concert {
    &__row {
        padding-bottom: 120px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        &-button {
            display: flex;
            padding: 8px 20px;
            border-radius: 37px;
            background-color: #FFF;
            box-sizing: border-box;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    &__card {
        display: flex;
        background-color: #FFF;

        &:nth-child(3) &-cities {
            padding: 0;

            & .omsk {
                display: none;
            }

            & .saratov {
                display: none;
            }
        }

        &:nth-child(4) &-cities {
            padding: 15.5px 0;

            & button:last-child {
                background-color: #2C2F31;
                border: none;
                
                & span:first-child {
                    color: #FFF;
                }
            }

            & .jeleznogorsk {
                display: none;
            }

            & .omsk {
                display: none;
            }

            & .saratov {
                display: none;
            }

            & .more-4 {
                display: none;
            }
        }

        &:nth-child(5) &-cities {
            padding: 3px 0;

            & .omsk {
                display: none;
            }

            & .saratov {
                display: none;
            }

            .ulyanovsk {
                display: none;
            }
        }

        &-city {
            display: flex;
            gap: 5px;
            padding: 4px 15px;
            box-sizing: border-box;
            border-radius: 37px;
            border: 1px solid rgba(13, 13, 13, 0.10);
            background-color: #FFF;
            align-items: center;

            & span:nth-child(2) {
                color: rgba(13, 13, 13, 0.60);
                font-size: 14px;
                line-height: normal;
            }
        }

        &-cities {
            display: flex;
            flex-wrap: wrap;
            padding: 15.5px 0;
            max-width: 312.5px;
            box-sizing: border-box;
            gap: 5px;

            & button:last-child {
                background-color: #2C2F31;
                
                & span {
                    color: #FFF;
                }
            }
        }

        &-content {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 20px;
        } 

        &-svg {
            position: absolute;
            left: 0;
            top: 0;
        }

        &-image {
            width: 50%;
            position: relative;
        }

        &-more {
            position: absolute;
            right: 20px;
            bottom: 20px;
            display: flex;
            background-color: transparent;
        }

        &-info {
            padding: 7px 22px 7px 15px;
            border-radius: 7px 0 0 7px;
            background: rgba(255, 255, 255, 0.70);
            backdrop-filter: blur(20px);
        }

        &-icon {
            padding: 8px 12.5px;
            background-color: #FFB21C;
            border-radius: 0px 7px 7px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__bottom {
        width: 100%;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #2C2F31;
        box-sizing: border-box;
        border-radius: 30px;
        margin-top: 40px;

        & span {
            color: #FFF;
        }
    }
}

.stock {
    &__row {
        padding-bottom: 100px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        &-button {
            display: flex;
            padding: 8px 20px;
            border-radius: 37px;
            background-color: #FFF;
            box-sizing: border-box;
        }
    }

    &__promo {
        display: flex;
        justify-content: space-between;
        border-radius: 12px;
        margin-bottom: 20px;

        &-image {
            max-width: 165px;
            width: 100%;
        }

        &-content {
            display: flex;
            padding: 0 20px;
            justify-content: space-between;
            align-items: center;
            background-color: #FFF;
            width: 100%;
            min-height: 110px;
            box-sizing: border-box;

            & div:first-child {
                max-width: 360px;
                width: 100%;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-width: 350px;
            width: 100%;

            & span {
                & span {
                    font-weight: 700;
                    line-height: 130%;
                }
            }
        }

        &-draw {
            display: flex;
            gap: 20px;
            align-items: center;
            max-width: 250px;
            width: 100%;
            justify-content: end;

            & span {
                font-weight: 700;
                line-height: 130%;
                max-width: 200px;
            }

            & svg {
                border-radius: 100px;
                background-color: #FFB21C;
                padding: 10px;
            }
        }
    }
}

.network {
    padding-bottom: 120px;

    &__row {
        background-color: #2C2F31;
        position: relative;
        border-radius: 12px 12px 70px 12px;
        padding: 69.5px 60px;
        box-sizing: border-box;
        min-height: 341px;

        &-background {
            fill: #FFB21C;
            position: absolute;
            left: 0;
            top: 0;
        }

        &-background1366 {
            fill: #FFB21C;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }
    }

    &__title {
        z-index: 1;
        margin-bottom: 20px;
        max-width: 591px;
    }

    &__content {
        max-width: 591px;
        margin-bottom: 50px;
        z-index: 1;
    }

    &__messengers {
        display: flex;
        gap: 15px;
        z-index: 1;
        max-width: 591px;

        &-block {
            width: 60px;
            height: 60px;
            box-sizing: border-box;
            border-radius: 500px;
            background:#FFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__heart {
        position: absolute;
        right: 15px;
        bottom: 36px;
        z-index: 5;
    }

    &__like {
        position: absolute;
        z-index: 5;
        top: -22px;
        left: 777px;
    }

    &__rotate-1 {
        transform: rotate(-24.17deg);
        top: 114px;
        right: 389px;
    }

    &__rotate-2 {
        transform: rotate(-12.71deg);
        top: 34px;
        right: 215px;
    }

    &__rotate-3 {
        transform: rotate(15.712deg);
        right: 70px;
        top: 27px;
    }

    &__frame {
        display: flex;
        flex-direction: column;
        padding: 15px 10px 10px 10px;
        position: absolute;
        z-index: 3;
        background-color: #FFF;
        border-radius: 12px;
        box-shadow: 0px 5.43456px 6.56676px 0px rgba(0, 0, 0, 0.10), 0px 15.02586px 18.15625px 0px rgba(0, 0, 0, 0.14), 0px 36.17649px 43.71326px 0px rgba(0, 0, 0, 0.18), 0px 120px 145px 0px rgba(0, 0, 0, 0.28);

        &-title {
            display: flex;
            gap: 12px;
        }

        &-logo {
            max-width: 37px;
            max-height: 37px;
        }

        &-name {
            display: flex;
            flex-direction: column;
            gap: 3px;
            margin-bottom: 15px;
            align-items: center;
            max-width: 167px;
            align-items: start;

            & span {
                color:#0D0D0D;
                font-size: 12px;
                font-style: normal;
                line-height: normal;

                &:last-child {
                    color: rgba(13, 13, 13, 0.60);
                }
            }
        }

        &-subtitle {
            max-width: 270px;
            color:#0D0D0D;
            font-size: 12px;
            font-style: normal;
            line-height: normal;
            -webkit-line-clamp: 8;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 17px;
        }

        &-block {
            position: absolute;
            background-color: transparent;
            width: 100%;
            box-sizing: border-box;
            top: -34px;
            left: 0;
            overflow: hidden;
            height: calc(100% + 34px);
            border-radius: 12px 12px 70px 12px;
        }
    }
}

.best {
    &__row {
        padding-bottom: 120px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        &-button {
            display: flex;
            padding: 8px 20px;
            border-radius: 37px;
            background-color: #FFF;
            box-sizing: border-box;
        }
    }

    &__bottom {
        display: flex;
        gap: 20px;

        &-left {
            border-radius: 12px 12px 12px 12px;
            padding: 30px 20px 20px 20px;
            position: relative;
            background-color: #FFB21C;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-right {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__left {
        &-arrow {
            position: absolute;
            bottom: 15px;
            right: 15px;
            max-height: 25px;
        }

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 12px 12px 147px 12px;
        }

        &-Title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
            position: relative;
            min-width: 908px;
        }

        &-title {
            font-size: 42px;
            line-height: 110.023%;
            letter-spacing: -0.84px;
            text-transform: uppercase;
            color: #FFF;
        }

        &-subtitle {
            border-radius: 37px;
            background:#FFB21C;
            padding: 5px 10px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            line-height: normal;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px;
            box-sizing: border-box;
            background-color: #FFF;
            max-width: 318px;
            border-radius: 12px;
            z-index: 1;
            position: relative;

            & span {
                & span {
                    font-weight: 700;
                    line-height: 130%;
                }
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;

        &-image {
            position: relative;

            & img {
                border-radius: 12px 12px 0 0;
            }
        }

        &-Title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
        }

        &-title {
            color: #FFF;
        }

        &-subtitle {
            border-radius: 37px;
            background:#FFB21C;
            padding: 5px 10px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            line-height: normal;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px;
            box-sizing: border-box;
            background-color: #FFF;
            border-radius: 0 0 12px 12px;

            & span {
                & span {
                    font-weight: 700;
                    line-height: 130%;
                }
            }
        }

        &-block {
            display: flex;
            flex-direction: column;
            border-radius: 12px 12px 0 0;
        }
    }
}

@media (max-width:1920px) and (min-width:1366px) {
    .container {
        max-width: 1366px;
        padding: 0 60px;
    }

    .header {
        &__nav {
            gap: 20px;
        }

        &__contact {
            gap: 20px;
        }
    }

    .tours {
        &__content {
            padding: 54px 50px;

            &-button {
                padding: 7px 15px;
                width: 199px;

                & span:nth-child(2) {
                    font-size: 14px;
                    line-height: normal;
                }
            }

            &-more {
                padding: 7px 15px;
                width: 199px;
            }

            &-city {
                max-width: 408px;
            }
        }

        &__banner {
            max-width: 718px;
        }
    }

    .concert {
        &__card {
            &-image {
                max-width: 306px;
                overflow: hidden;
            }

            &-cities {
                max-width: 267px;
            }

            &:nth-child(1) &-cities {
                .jeleznogorsk {
                    display: none;
                }

                .saratov {
                    display: none;
                }

                .omsk {
                    display: none;
                }
            }

            &:nth-child(2) &-cities {
                .jeleznogorsk {
                    display: none;
                }

                .saratov {
                    display: none;
                }

                .omsk {
                    display: none;
                }
            }

            &:nth-child(3) &-cities {
                .jeleznogorsk {
                    display: none;
                }

                .saratov {
                    display: none;
                }

                .omsk {
                    display: none;
                }
            }

            &:nth-child(4) &-cities {
                .jeleznogorsk {
                    display: none;
                }

                .saratov {
                    display: none;
                }

                .omsk {
                    display: none;
                }

                .more-4 {
                    display: flex;
                }
            }

            &:nth-child(5) &-cities {
                .jeleznogorsk {
                    display: none;
                }

                .saratov {
                    display: none;
                }

                .omsk {
                    display: none;
                }

                .ulyanovsk {
                    display: flex;
                }

                .krasnodar {
                    display: none;
                }
            }

            &:nth-child(6) &-cities {
                .jeleznogorsk {
                    display: none;
                }

                .saratov {
                    display: none;
                }

                .omsk {
                    display: none;
                }
            }
        }
    }

    .network {
        &__row {
            padding: 43.5px 52.28px;

            &-background {
                display: none;
            }

            &-background1366 {
                display: flex;
            }
        }

        &__title {
            max-width: 514px;
        }

        &__like {
            left: 593px;
        }
    }

    .best {
        &__left {
            &-Title {
                min-width: 784px;
            }
        }
    }

    .footer {
        &__menu {
            max-width: 815px;

            & a {
                margin-left: 20px;
            }

            & a:nth-child(9) {
                margin-left: 20px;
            }

            & a:nth-child(10) {
                margin-left: 0;
            }
        }

        &__bottom {
            padding: 50px 0;
        }
    }
}

@media (max-width:1366px) and (min-width:768px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }

    .header {
        &__top {
            display: none;
        }

        &__city {
            display: none;
        }

        &__messengers {
            display: none;
        }

        &__logo {
            display: none;
        }

        &__adap{
            display: flex;
        }
    }

    .tours {
        &__row {
            flex-direction: column-reverse;
            gap: 20px;
        }

        &__banner {
            & img {
                min-height: 431px;
            }
        }

        &__content {
            padding: 51.5px 50px;
            border-radius: 12px 12px 147px 12px;
            gap: 20px;

            &-row {
                gap: 5px;
            }

            &-info {
                display: none;
            }

            &-button {
                justify-content: normal;
                gap: 5px;
                padding: 5px 15px;
                width: auto;

                & span:nth-child(2) {
                    font-size: 14px;
                    line-height: normal;
                }
            }

            &-city {
                max-width: 608px;
                gap: 5px;

                & li:nth-child(8) {
                    display: none;
                }
            }

            &-moreAdap {
                display: flex;
            }
        }
    }

    .concert {
        &__card {
            width: 100%;

            &-image {
                overflow: hidden;
            }

            &-cities {
                max-width: 314px;
            }

            &:nth-child(3) &-cities {
                .saratov {
                    display: flex;
                }

                .omsk {
                    display: flex;
                }
            }

            &:nth-child(4) &-cities {
                .saratov {
                    display: flex;
                }

                .omsk {
                    display: flex;
                }

                .jeleznogorsk {
                    display: flex;
                }

                .more-4 {
                    display: flex;
                }
            }

            &:nth-child(5) &-cities {
                .ulyanovsk {
                    display: flex;
                }

                .saratov {
                    display: none;
                }

                .omsk {
                    display: none;
                }
            }

            &:nth-child(6) {
                display: none;
            }
        }
    }

    .stock {
        &__promo {
            &-content {
                flex-direction: column;
                padding: 20px;
                align-items: normal;
                min-height: 195px;

                & div:first-child {
                    margin-bottom: 5px;
                }
            }

            &-image {
                max-width: 191px;
            }

            &-info {
                gap: 0;
            }

            &-draw {
                justify-content: space-between;
                max-width: 100%;
            }
        }
    }

    .network {
        &__row {
            padding: 43.5px 52.28px;

            &-background {
                display: none;
            }

            &-background1366 {
                display: flex;
            }
        }

        &__title {
            max-width: 514px;
        }

        &__like {
            left: 593px;
        }
    }

    .best {
        &__left {
            &-Title {
                min-width: 784px;
            }
        }
    }

    .footer {
        &__menu {
            max-width: 815px;

            & a {
                margin-left: 20px;
            }

            & a:nth-child(9) {
                margin-left: 20px;
            }

            & a:nth-child(10) {
                margin-left: 0;
            }
        }

        &__bottom {
            padding: 50px 0;
        }
    }
}
